<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.labelwall.mall.dao.ShopMapper">
    <resultMap id="BaseResultMap" type="com.labelwall.mall.dto.ShopDto">
        <id property="id" column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="userId" column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="name" column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="description" column="description" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="productCategoryId" column="product_category_id" jdbcType="INTEGER"
                javaType="java.lang.Integer"/>
        <result property="status" column="status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="level" column="level" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result property="provinceId" column="province_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="cityId" column="city_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="countyId" column="county_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <!-- 添加...by李1.31 -->
        <result column="shopType" property="shopType"/>
        <result column="typeName" property="typeName"/>
        <result column="locationType" property="locationType"/>
        <result column="locationName" property="locationName"/>
        <result column="schoolId" property="schoolId"/>
        <result column="schoolName" property="schoolName"/>
        <result column="tradeType" property="tradeType"/>
        <result column="phone" property="phone"/>
        <result column="topImgURL" property="topImgURL"/>
        
        <result property="createTimeStr" column="create_time_str" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="updateTimeStr" column="update_time_str" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <association property="userDto" javaType="com.labelwall.mall.dto.UserDto">
            <result property="id" column="userId" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <result property="username" column="username" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result property="head" column="head" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result property="schoolName" column="school_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result property="locationProvince" column="location_province" jdbcType="VARCHAR"
                    javaType="java.lang.String"/>
            <result property="locationCity" column="location_city" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, name, description, product_category_id, status, level,
    province_id,city_id,county_id,
    create_time,update_time
  </sql>
  
   
    
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select  ws.id,ws.user_id,ws.name,ws.description,ws.product_category_id,ws.status,ws.level,ws.create_time,ws.update_time,
            DATE_FORMAT(ws.create_time,'%Y-%m-%d %H:%i:%S') create_time_str,DATE_FORMAT(ws.update_time,'%Y-%m-%d %H:%i:%S') update_time_str,
            ws.shopType,ws.typeName,ws.locationType,ws.locationName,ws.schoolId,ws.schoolName,
            ws.tradeType,ws.phone,ws.topImgURL,
            wu.id userId,wu.username,wu.head,wu.school_name,wu.location_province,wu.location_city
    from wall_shop ws,wall_user wu
    where  ws.user_id = wu.id AND ws.id = #{id,jdbcType=INTEGER}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wall_shop
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.labelwall.mall.entity.Shop" useGeneratedKeys="true" keyProperty="id">
    insert into wall_shop (id, user_id, name, 
      description, product_category_id, status, 
      level,province_id,city_id,county_id, create_time, update_time,
      shopType,typeName,locationType,locationName,schoolId,schoolName,tradeType,phone,topImgURL
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{productCategoryId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{level,jdbcType=INTEGER},#{provinceId,jdbcType=INTEGER},#{cityId,jdbcType=INTEGER},#{countyId,jdbcType=INTEGER},
       #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},#{shopType},#{typeName},#{locationType},
       #{locationName},#{schoolId},#{schoolName},#{tradeType},#{phone},#{topImgURL}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.labelwall.mall.entity.Shop">
        insert into wall_shop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="productCategoryId != null">
                product_category_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="provinceId != null">
                province_id,
            </if>
            <if test="cityId != null">
                city_id,
            </if>
            <if test="countyId != null">
                county_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="productCategoryId != null">
                #{productCategoryId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
            <if test="provinceId != null">
                #{provinceId,jdbcType=INTEGER},
            </if>
            <if test="cityId != null">
                #{cityId,jdbcType=INTEGER},
            </if>
            <if test="countyId != null">
                #{countyId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.labelwall.mall.entity.Shop">
        update wall_shop
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="productCategoryId != null">
                product_category_id = #{productCategoryId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=INTEGER},
            </if>
            <if test="provinceId != null">
                province_id = #{provinceId,jdbcType=INTEGER},
            </if>
            <if test="cityId != null">
                city_id = #{cityId,jdbcType=INTEGER},
            </if>
            <if test="countyId != null">
                county_id = #{countyId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.labelwall.mall.entity.Shop">
    update wall_shop
    set user_id = #{userId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      product_category_id = #{productCategoryId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      county_id = #{countyId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="getShopList" parameterType="com.labelwall.mall.dto.ShopDto" resultMap="BaseResultMap">
        SELECT
        ws.id,ws.user_id,ws.name,ws.description,ws.product_category_id,ws.status,ws.level,ws.create_time,ws.update_time,
        DATE_FORMAT(ws.create_time,'%Y-%m-%d %H:%i:%S') create_time_str,DATE_FORMAT(ws.update_time,'%Y-%m-%d %H:%i:%S')
        update_time_str,ws.shopType,ws.typeName,ws.locationType,ws.locationName,ws.schoolId,ws.schoolName,ws.tradeType,ws.phone,ws.topImgURL,
        wu.id userId,wu.username,wu.head,wu.school_name,wu.location_province,wu.location_city
        FROM wall_shop ws,wall_user wu
        <where>
            ws.user_id = wu.id
            <if test="dto.keyword != null">
                AND ws.name like CONCAT('%',#{dto.keyword},'%') OR ws.description like CONCAT('%',#{dto.keyword},'%')
            </if>
            <if test="dto.productCategoryId != null">
                AND ws.product_category_id = #{dto.productCategoryId}
            </if>
            <if test="dto.userId != null">
                AND ws.user_id = #{dto.userId}
            </if>
            <if test="dto.level != null">
                AND ws.level &gt;= #{dto.level}
            </if>
            <if test="dto.provinceId != null">
                AND ws.province_id = #{dto.provinceId}
            </if>
            <if test="dto.cityId != null">
                AND ws.city_id = #{dto.cityId}
            </if>
            <if test="dto.countyId != null">
                AND ws.county_id = #{dto.countyId}
            </if>
            <if test="dto.schoolId != null">
                and ws.schoolId = #{dto.schoolId}
            </if>
            <if test="dto.shopType != null">
                and ws.shopType = #{dto.shopType}
            </if>
            <if test="dto.locationType != null">
                and ws.locationType = #{dto.locationType}
            </if>
            <if test="dto.tradeType != null">
                and ws.tradeType = #{dto.tradeType}
            </if>
            <if test="shopIdListOnService != null">
            and ws.id in <foreach collection="shopIdListOnService" open="(" separator="," close=")" item="item">#{item}</foreach>
            </if>
            <if test="shopIdListOnProduct != null">
            and ws.id in <foreach collection="shopIdListOnProduct" open="(" separator="," close=")" item="item">#{item}</foreach>
            </if>
        </where>
    </select>
    <select id="getShopOnServiceId" parameterType="int" resultType="int">
        select shopId from wall_shop_service where serviceId=#{values}
    </select>
    <select id="getShopOnProductId" parameterType="int" resultType="int">
        select shop_id from wall_product where id=#{values}
    </select>
    <select id="getAllTradeType" resultType="TradeType">
        select id,name,DATE_FORMAT(createTime,'%Y-%m-%d %H:%i:%S') createTime,DATE_FORMAT(updateTime,'%Y-%m-%d %H:%i:%S') updateTime from wall_trade_shoptype
    </select>
</mapper>