<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labelwall.mall.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.labelwall.mall.entity.User">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="head" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="role" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="school_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="school_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="location_province" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="location_city" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="location_county" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="province_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="city_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="county_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="school_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="gender" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="birthday" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="nickname" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, username, password, head,email, phone, role, school_date,school_name,
    location_province, location_city,location_county,province_id,city_id,county_id,school_id,
    create_time, update_time,gender,birthday,nickname
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from wall_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wall_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.labelwall.mall.entity.User" keyProperty="id" useGeneratedKeys="true">
    insert into wall_user (id, username, password, head,
      email, phone, role, school_date,
      school_name, location_province, location_city,
      location_county,province_id,city_id,county_id,school_id,
      create_time, update_time,gender,birthday,nickname)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{head,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{role,jdbcType=INTEGER}, #{schoolDate,jdbcType=TIMESTAMP},
      #{schoolName,jdbcType=VARCHAR}, #{locationProvince,jdbcType=VARCHAR}, #{locationCity,jdbcType=VARCHAR}, #{locationCounty,jdbcType=VARCHAR},
      #{provinceId,jdbcType=INTEGER},#{cityId,jdbcType=INTEGER},#{countyId,jdbcType=INTEGER},#{schoolId,jdbcType=INTEGER},
      now(), now(),#{gender,jdbcType=INTEGER},#{birthday,jdbcType=VARCHAR},#{nickname,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.labelwall.mall.entity.User">
        insert into wall_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="head != null">
                head,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="role != null">
                role,
            </if>
            <if test="schoolDate != null">
                school_date,
            </if>
            <if test="schoolName != null">
                school_name,
            </if>
            <if test="locationProvince != null">
                location_province,
            </if>
            <if test="locationCity != null">
                location_city,
            </if>
            <if test="locationCounty != null">
                location_county,
            </if>
            <if test="provinceId != null">
                province_id,
            </if>
            <if test="cityId != null">
                city_id,
            </if>
            <if test="countyId != null">
                county_id,
            </if>
            <if test="schoolId != null">
                school_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="head != null">
                #{head,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                #{role,jdbcType=INTEGER},
            </if>
            <if test="schoolDate != null">
                #{schoolDate,jdbcType=TIMESTAMP},
            </if>
            <if test="schoolName != null">
                #{schoolName,jdbcType=VARCHAR},
            </if>
            <if test="locationProvince != null">
                #{locationProvince,jdbcType=VARCHAR},
            </if>
            <if test="locationCity != null">
                #{locationCity,jdbcType=VARCHAR},
            </if>
            <if test="locationCounty != null">
                #{locationCounty,jdbcType=VARCHAR},
            </if>
            <if test="provinceId != null">
                #{provinceId,jdbcType=INTEGER},
            </if>
            <if test="cityId != null">
                #{cityId,jdbcType=INTEGER},
            </if>
            <if test="countyId != null">
                #{countyId,jdbcType=INTEGER},
            </if>
            <if test="schoolId != null">
                #{school_id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                now(),
            </if>
            <if test="updateTime != null">
                now(),
            </if>
            <if test="gender != null">
                #{gender,jdbcType=INTEGER},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=VARCAHR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCAHR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.labelwall.mall.entity.User">
        update wall_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="head != null">
                head = #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                role = #{role,jdbcType=INTEGER},
            </if>
            <if test="schoolDate != null">
                school_date = #{schoolDate,jdbcType=TIMESTAMP},
            </if>
            <if test="schoolName != null">
                school_name = #{schoolName,jdbcType=VARCHAR},
            </if>
            <if test="locationProvince != null">
                location_province = #{locationProvince,jdbcType=VARCHAR},
            </if>
            <if test="locationCity != null">
                location_city = #{locationCity,jdbcType=VARCHAR},
            </if>
            <if test="locationCounty != null">
                location_county = #{locationCounty,jdbcType=VARCHAR},
            </if>
            <if test="provinceId != null">
                province_id = #{provinceId,jdbcType=INTEGER},
            </if>
            <if test="cityId != null">
                city_id = #{cityId,jdbcType=INTEGER},
            </if>
            <if test="countyId != null">
                county_id = #{countyId,jdbcType=INTEGER},
            </if>
            <if test="schoolId != null">
                school_id = #{schoolId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            update_time = now(),
            <if test="gender != null">
                gender = #{gender,jdbcType=INTEGER},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.labelwall.mall.entity.User">
    update wall_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      head = #{head,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      role = #{role,jdbcType=INTEGER},
      school_date = #{schoolDate,jdbcType=TIMESTAMP},
      school_name = #{schoolName,jdbcType=VARCHAR},
      location_province = #{locationProvince,jdbcType=VARCHAR},
      location_city = #{locationCity,jdbcType=VARCHAR},
      location_county = #{locationCounty,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      county_id = #{countyId,jdbcType=INTEGER},
      school_id = #{schoolId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now(),
      gender = #{gender,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="checkUsername" resultType="int" parameterType="string">
        SELECT COUNT(1)
        FROM wall_user
        WHERE username = #{username}
    </select>
    <select id="login" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM wall_user
        WHERE username = #{username} AND password = #{password}
    </select>
    <select id="checkEmail" resultType="int" parameterType="string">
        SELECT COUNT(1)
        FROM wall_user
        WHERE email = #{email}
    </select>
    <update id="restPassword" parameterType="map">
        UPDATE wall_user
        set password = #{passwordNew}
        WHERE id = #{userId}
    </update>
    <select id="selectByUsername" resultMap="BaseResultMap" parameterType="string">
        SELECT
        <include refid="Base_Column_List"/>
        FROM wall_user
        WHERE username = #{username}
    </select>
    <select id="selectByUserIds" parameterType="list" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM wall_user
        <if test="userIdList != null">
            <where>
                id IN
                <foreach collection="userIdList" index="index" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </where>
        </if>
    </select>
    <select id="selectUser" parameterType="com.labelwall.mall.entity.User" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM wall_user
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            AND role = 1
            <if test="schoolId != null">
                AND school_id = #{schoolId}
            </if>
            <if test="provinceId != null">
                AND province_id = #{provinceId}
            </if>
            <if test="cityId != null">
                AND city_id = #{cityId}
            </if>
            <if test="countyId != null">
                AND county_id = #{countyId}
            </if>
        </trim>
        ORDER BY id
    </select>
    <select id="loginEmail" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM wall_user
        WHERE email = #{email} AND password = #{password}
    </select>

    <select id="selectByActivityId" parameterType="Integer" resultMap="BaseResultMap">
        select s.id,s.username,s.head,s.school_name,s.location_province,
               s.location_city,s.location_county,s.gender,s.nickname
        from wall_user s left join  well_start_activity t
            on  s.id = t.userId
        where  t.activityId = #{activityId}
    </select>
</mapper>