<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.labelwall.activity.dao.ActivityAccountOrderMapper">
    <resultMap id="BaseResultMap" type="com.labelwall.activity.entity.ActivityAccountOrder">
        <id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="user_id" property="userId" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="activity_id" property="activityId" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="WIDout_trade_no" property="orderNo" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="WIDsubject" property="typeDesc" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="WIDtotal_fee" property="orderPrice"/>
        <result column="WIDbody" property="orderInfo" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="status" property="status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="type" property="type" jdbcType="INTEGER" javaType="java.lang.Integer"/>
    </resultMap>
    <sql id="BaseColumn">
      id,user_id,activity_id,WIDout_trade_no,WIDsubject,WIDtotal_fee,WIDbody,create_time,status,`type`
    </sql>
    <select id="getUserActivityOrder" parameterType="integer" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumn"/>
        FROM well_activity_order
        WHERE user_id = #{userId}
    </select>
    <select id="getTodayOrderNum" parameterType="string" resultType="integer">
        SELECT COUNT(1)
        FROM well_activity_order
        WHERE create_time <![CDATA[>]]> #{todayStr}
    </select>

    <insert id="createAccountOrder" parameterType="com.labelwall.activity.entity.ActivityAccountOrder"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `well_activity_order`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="activityId != null">
                activity_id,
            </if>
            <if test="orderNo != null">
                WIDout_trade_no,
            </if>
            <if test="typeDesc != null">
                WIDsubject,
            </if>
            <if test="orderPrice != null">
                WIDtotal_fee,
            </if>
            <if test="orderInfo != null">
                WIDbody,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="type != null">
                `type`,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="activityId != null">
                #{activityId},
            </if>
            <if test="orderNo != null">
                #{orderNo},
            </if>
            <if test="typeDesc != null">
                #{typeDesc},
            </if>
            <if test="orderPrice != null">
                #{orderPrice},
            </if>
            <if test="orderInfo != null">
                #{orderInfo},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="type != null">
                #{type},
            </if>
        </trim>
    </insert>
    <update id="updateSelectiveOrder" parameterType="com.labelwall.activity.entity.ActivityAccountOrder">
        UPDATE `well_activity_order`
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="activityId != null">
                activity_id =#{activityId},
            </if>
            <if test="typeDesc != null">
                WIDsubject = #{typeDesc},
            </if>
            <if test="orderPrice != null">
                WIDtotal_fee =#{orderPrice},
            </if>
            <if test="orderInfo != null">
                WIDbody =#{orderInfo},
            </if>
            <if test="createTime != null">
                create_time =#{createTime},
            </if>
            <if test="status != null">
                status =#{status},
            </if>
            <if test="type != null">
                `type` =#{type},
            </if>
        </set>
        WHERE WIDout_trade_no = #{orderNo}
    </update>
    <select id="getActivityOrderByOrderNo" parameterType="string" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumn"/>
        FROM `well_activity_order`
        WHERE WIDout_trade_no = #{orderNo}
    </select>
</mapper>