<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--扫描bean，主要是controller-->
    <context:component-scan base-package="com.labelwall" annotation-config="true"/>

    <!--注解驱动-->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <!--编码配置-->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
            <!--配置jackson，springMVC自动序列化-->
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!--
        spring4.2+支持CORS，跨域访问，
            1.注解的形式，@CrossOrigin:在controller方法上进行全局配置，也开始在某一个controller方法中的单独的配置，
            2.xml文件的配置形式：使用标签<mvc:cors>来全局配置，所有的方法都可通过指定的域来进行访问。
                属性path，可以过滤访问链接，*：标识匹配到下一层，**:匹配到所有层。
    -->
    <mvc:cors>
        <mvc:mapping path="/**"/>
    </mvc:cors>

    <mvc:interceptors>
        <!--登录拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/auth/**"/>
            <!--用户登录注册-->
            <mvc:exclude-mapping path="/user/login"/>
            <mvc:exclude-mapping path="/user/register"/>
            <mvc:exclude-mapping path="/user/check_username_email"/>
            <mvc:exclude-mapping path="/user/get_user_info/*"/>
            <!--区域-->
            <mvc:exclude-mapping path="/location/**"/>
            <!--帖子及回复-->
            <mvc:exclude-mapping path="/topic/get_category"/>
            <mvc:exclude-mapping path="/topic/get_category_id"/>
            <mvc:exclude-mapping path="/topic/get_topic_post_list/**"/>
            <mvc:exclude-mapping path="/topic/get_topic_post_by_id/**"/>
            <mvc:exclude-mapping path="/topic/get_topic_reply_by_post_id/**"/>

            <mvc:exclude-mapping path="/topic/app_publish_post"/>
            <mvc:exclude-mapping path="/topic/app_publish_post_reply"/>

            <!--商铺-->
            <mvc:exclude-mapping path="/shop/**"/>
            <!--商品-->
            <mvc:exclude-mapping path="/product/**"/>
            <!--course-->
            <mvc:exclude-mapping path="/course/**"/>
            <!--section-->
            <mvc:exclude-mapping path="/section/**"/>
            <!--comment-->
            <mvc:exclude-mapping path="/comment/get_comment/**"/>
            <!--institution-->
            <mvc:exclude-mapping path="/institution/**"/>
            <bean class="com.labelwall.interceptor.AuthInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--视图解析器 jsp-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 配置jsp路径的前缀 -->
        <property name="prefix" value="/WEB-INF/pages/"/>
        <!-- 配置jsp路径的后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--
        全局异常处理器
        只要实现HandlerExceptionResolver就是一个全局异常处理器
    -->
    <!--<bean class="com.labelwall.exception.CustomExceptionResolver"></bean>-->
</beans>