<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.labelwall.course.dao.CourseSectionMapper">
    <resultMap id="BaseResultMap" type="com.labelwall.course.entity.CourseSection">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="course_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="parent_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="sort" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="time" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="onsale" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="video_url" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="create_user" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_user" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="del" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="section_desc" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, course_id, parent_id, name, sort, time, onsale, video_url, create_time, create_user, 
    update_time, update_user, del, section_desc
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from wall_course_section
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wall_course_section
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.labelwall.course.entity.CourseSection">
    insert into wall_course_section (id, course_id, parent_id, 
      name, sort, time, onsale, 
      video_url, create_time, create_user, 
      update_time, update_user, del, 
      section_desc)
    values (#{id,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{time,jdbcType=VARCHAR}, #{onsale,jdbcType=INTEGER},
      #{videoUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{del,jdbcType=INTEGER},
      #{sectionDesc,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.labelwall.course.entity.CourseSection">
        insert into wall_course_section
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="courseId != null">
                course_id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="onsale != null">
                onsale,
            </if>
            <if test="videoUrl != null">
                video_url,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="del != null">
                del,
            </if>
            <if test="sectionDesc != null">
                section_desc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="courseId != null">
                #{courseId,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                #{time,jdbcType=VARCHAR},
            </if>
            <if test="onsale != null">
                #{onsale,jdbcType=INTEGER},
            </if>
            <if test="videoUrl != null">
                #{videoUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="del != null">
                #{del,jdbcType=INTEGER},
            </if>
            <if test="sectionDesc != null">
                #{sectionDesc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.labelwall.course.entity.CourseSection">
        update wall_course_section
        <set>
            <if test="courseId != null">
                course_id = #{courseId,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=VARCHAR},
            </if>
            <if test="onsale != null">
                onsale = #{onsale,jdbcType=INTEGER},
            </if>
            <if test="videoUrl != null">
                video_url = #{videoUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="del != null">
                del = #{del,jdbcType=INTEGER},
            </if>
            <if test="sectionDesc != null">
                section_desc = #{sectionDesc,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.labelwall.course.entity.CourseSection">
    update wall_course_section
    set course_id = #{courseId,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      time = #{time,jdbcType=VARCHAR},
      onsale = #{onsale,jdbcType=INTEGER},
      video_url = #{videoUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      del = #{del,jdbcType=INTEGER},
      section_desc = #{sectionDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByCourseId" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM wall_course_section
        WHERE course_id = #{courseId}
        ORDER BY parent_id ASC,sort ASC
    </select>
</mapper>