<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.labelwall.course.dao.InstitutionTeacherMapper">

    <resultMap id="BeanResultMap" type="com.labelwall.course.entity.InstitutionTeacher">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="college" property="college" jdbcType="VARCHAR"/>
        <result column="education" property="education" jdbcType="VARCHAR"/>
        <result column="work_experience" property="workExperience" jdbcType="INTEGER"/>
        <result column="institution_id" property="institutionId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="del" property="del" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="All_Columns">
        id,name,college,education,work_experience,institution_id,
        create_time, create_user, update_time,update_user, del
    </sql>
    <select id="getTeacherByInstitutionId" resultMap="BeanResultMap" parameterType="int">
        SELECT
        <include refid="All_Columns"/>
        FROM wall_institutions_teacher
        WHERE institution_id = #{institutionId}
    </select>
    <select id="selectByPrimaryKey" resultMap="BeanResultMap" parameterType="int">
        SELECT
        <include refid="All_Columns"/>
        FROM wall_institutions_teacher
        WHERE id = #{teacherId}
    </select>
    <select id="selectByIds" resultMap="BeanResultMap" parameterType="list">
        SELECT
        <include refid="All_Columns"/>
        FROM wall_institutions_teacher
        <if test="idList != null">
            <trim prefix="WHERE" prefixOverrides="AND|OR">
                id IN
                <foreach collection="idList" open="(" close=")" index="index" item="item" separator=",">
                    #{item}
                </foreach>
            </trim>
        </if>
    </select>
</mapper>
